body {
    height: 100vh;
    width: 98vw;
    background-image: url(/media/3879.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px auto;
    color: white;
    width: fit-content; }
    body .container {
      max-width: 100vw; }
  