$color_1: white;
$color_2: black;
$color_3: whitesmoke;
$color_4: #f0f8ffe1;
$font-family_1: Helvetica, sans-serif;
$font-family_2: 'Anton', sans-serif;
$font-family_3: 'Ubuntu', sans-serif;
$font-family_4: 'Bebas Neue', cursive;
$background-color_1: transparent;
$background-color_2: rgba(238, 9, 9, 0.420);
$background-color_3: rgba(255, 255, 255, 0.7);
$background-color_4: rgba(255, 255, 255, 0.9);
$background-color_5: rgba(12, 1, 1, 0.747);
$background-color_6: #ffffff04;
$background-color_7: #000000;
$background-color_8: rgba(0, 0, 0, 0.568);
$background-color_9: rgba(156, 25, 20, 0.849);
$border-color_1: transparent;